# Python Virtual Environment
venv/
.venv/
env/
__pycache__/
*.pyc

# IDEs and System Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Testing and dbt Cache
.pytest_cache/
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/