# Environment variables
.env

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (optional if you don’t want to push data)
data/raw/
data/parquet/

# OS files
.DS_Store
