# Python Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc

# IDEs and System Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Environment Variables
.env
.env.*

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/
dbt_project/.user.yml