# ==============================================================================
# Python & Environment Virtualization
# ==============================================================================
.venv/
venv/
__pycache__/
*.pyc

# ==============================================================================
# Airflow Runtime Artifacts
# ==============================================================================
logs/
data/

# ==============================================================================
# Credentials & Configuration Profiles (CRITICAL SAFETY)
# ==============================================================================
.env
ecommerce_dbt/profiles.yml
ecommerce_dbt/user.yml

# ==============================================================================
# dbt Compilation Build Folders
# ==============================================================================
ecommerce_dbt/target/
ecommerce_dbt/dbt_packages/
ecommerce_dbt/logs/

# ==============================================================================
# Local Editor IDE Configuration Workspace
# ==============================================================================
.vscode/